@model proyecto.Models.RegistroDocente

@{
    ViewBag.Title = "CrearDocente";
}

<!DOCTYPE html>
<html>
<head>
    <title>Crear docente</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/css/estilo__creacion-usuario__docentes.css">
    <link rel="stylesheet" type="text/css" href="vistas/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="vistas/img/icono/logo-colegio.ico">
</head>
<body style="background-color:#eeebdd;">
    <!--ENCABEZADO DE PÁGINA-->
    <div class="parte-superior">
        <div class="parte-superior__logo-colegio">

        </div>
        <div class="parte-superior__titulos">
            Crear Docente
        </div>
    </div>
    <div class="titulos">
        <h2 class="titulos__1">Nombre</h2>
        <h2 class="titulos__1--active">de la</h2>
        <h2 class="titulos__1">Institución</h2>
    </div>
    <!--
    <?php
    $registro=controladorFormularios::controladorRegistroDocente();
    if ($registro=="ok") {
    echo '
    <script>
            if(window.history.replaceState){
                window.history.replaceState(null, null, window.location.href);
            }
    </script>';
    echo '<div class="datos-texto alert alert-success alert-dismissible fade show" role="alert">
        <strong>¡EL DOCENTE HA SIDO REGISTRADO!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>';
    $docentes=controladorFormularios::controladorSeleccionarRegistros("docente",null,null);
    }else if($registro=="errorDocente"){
    echo '
    <script>
            if(window.history.replaceState){
                window.history.replaceState(null, null, window.location.href);
            }
    </script>';
    echo '<div class="datos-texto alert alert-success alert-danger fade show" role="alert">
        <strong>¡EL DOCUMENTO YA ESTA REGISTRADO!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>';
    }
    ?>
        -->
    <div class="datos-texto">
        DATOS DOCENTES:
        INTRODUCEN LOS DATOS-->
        <form method="post" action="/Admin/EditarRegistroDocente">
            <div class="columnas">
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="text" name="ApellidoUnoDocente" value="@Model.ApellidoUnoDocente" required>
                    <label>PRIMER APELLIDO:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="text" name="ApellidoDosDocente" value="@Model.ApellidoDosDocente">
                    <label>SEGUNDO APELLIDO:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="text" name="NombreUnoDocente" value="@Model.NombreUnoDocente"required>
                    <label>PRIMER NOMBRE:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="text" name="NombreDosDocente" value="@Model.NombreDosDocente">
                    <label>SEGUNDO NOMBRE:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <select class="filas" name="GeneroDocente" value="@Model.GeneroDocente">
                        <option>M</option>
                        <option>F</option>
                    </select>
                    <label>GENERO</label>
                </div>
            </div>
            <div class="columnas">
                <!--dato nuevo-->
                <div class="grupo">
                    <select class="filas" name="TipoDocumentoDocente" value="@Model.TipoDocumentoDocente">
                        <option>T.I</option>
                        <option>C.C</option>
                        <option>R.C</option>
                        <option>C.E</option>
                    </select>
                    <label>Tipo Documento:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="number" name="DocumentoDocente" value="@Model.DocumentoDocente" required>
                    <label>No. DE DOCUMENTO:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="text" name="DireccionDocente" value="@Model.DireccionDocente" required>
                    <label>DIRECCIÓN:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="number" name="CelularDocente" value="@Model.CelularDocente" required>
                    <label>CELULAR:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="email" name="EmailDocente" value="@Model.EmailDocente" required>
                    <label>EMAIL:</label>
                </div>
                <!--dato nuevo-->
                <div class="grupo">
                    <input class="filas" type="text" name="PasswordDocente" value="@Model.PasswordDocente" required>
                    <label>PASSWORD:</label>
                </div>
            </div>
            <input class="boton-registrar" type="submit" name="registrar" value="REGISTRAR">
        </form>
    </div>
    

    <!--BOTONES FINALES-->
    <footer>
        <div class="espacio">
            <div class="contenedor-boton">
                <a href="/Inicio/CerrarSesion" class="boton-cerrar-sesion__link">
                    <div class="boton-cerrar-sesion">
                        <div class="salir fas fa-sign-out-alt fa-2x"></div>
                    </div>
                </a>
                <a class="boton-volver fas fa-arrow-alt-left" href="/Admin/CrearDocenteInicio" style="text-decoration-line: none;">
                    <div class="fas fa-arrow-left fa-2x"></div>
                </a>
            </div>
        </div>
    </footer>


</body>
</html>